header img {

    width: 100%;

}
.texte{
    width: 100%;
    font-size: 20px;
    margin-right: 200px;
}

#content {
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.division{
    width: 48%;
    height: 20%;
    background-color: brown;
    border-radius: 10px;
    margin: 10px;
    /* mettre le texte thi digui bi */
    /* NB : les deux propriétés suivantes n'y fonctionnent pas justify-content: center;
    justify-items: center;   */
    writing-mode : vertical-lr;
    }



p {
    font-size: 30px;
    text-align: center;
    margin-left: 300px;
   }
button{
    width: 100px;
    height: 60px;
    background-color: brown;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 40px;
}
